In [66]:
#Import packages
import pandas as pd  
import string

#Alphabet
alphabet = list(string.ascii_lowercase)
%matplotlib inline

In [80]:
#Import packages
import pandas as pd  
import string

#Alphabet
alphabet = list(string.ascii_lowercase)

#Last letter count function
def last_letter_count():
    #Create empty dictionaries 
    boy_dict = {}
    girl_dict = {}
    
    #Create name lists from github
    boys_git = pd.read_html('https://github.com/PixarJunkie/dsc-430-python-programming/blob/master/data/namesBoys.txt')
    boys_list = list(boys_git[0][1])
    girls_git = pd.read_html('https://github.com/PixarJunkie/dsc-430-python-programming/blob/master/data/namesGirls.txt') 
    girls_list = list(girls_git[0][1])
    
    #Get last letter of boy names
    for boy in boys_list:
        last_letter_boy = list(boy)[-1]
        #If last letter is already in boy_dict, increase current value by 1
        if last_letter_boy in boy_dict:
            boy_dict[last_letter_boy] += 1
        #If last letter is not in boy_dict, create key and set value = 1
        else: 
            boy_dict[last_letter_boy] = 1
    #Get last letter of girl names
    for girl in girls_list:
        last_letter_girl = list(girl)[-1]
        #If last letter is already in girl_dict, increase current value by 1
        if last_letter_girl in girl_dict: 
            girl_dict[last_letter_girl] += 1
        #If last letter is not in girl_dict, create key and set value = 1
        else:
            girl_dict[last_letter_girl] = 1
    
    #Create dataframe for output
    final_df = pd.DataFrame(columns = ['Ending', 'Boys', 'Girls'])
    final_df.Ending = alphabet
    #Map dicts to columns
    final_df.Boys = final_df.Ending.map(boy_dict)
    final_df.Girls = final_df.Ending.map(girl_dict)
    #Replace NaN with 0
    final_df.fillna(0, inplace = True)
    
    print(final_df)
    return final_df

In [81]:
last_letter_count()

   Ending   Boys  Girls
0       a    9.0  380.0
1       b    4.0    0.0
2       c    8.0    1.0
3       d   31.0    3.0
4       e  102.0  188.0
5       f    2.0    0.0
6       g    3.0    0.0
7       h   35.0   64.0
8       i   28.0   35.0
9       j    1.0    0.0
10      k   21.0    0.0
11      l   61.0   28.0
12      m   15.0    3.0
13      n  340.0  147.0
14      o   76.0    0.0
15      p    3.0    0.0
16      q    0.0    0.0
17      r   73.0   12.0
18      s   68.0   14.0
19      t   26.0    9.0
20      u    1.0    0.0
21      v    3.0    0.0
22      w    4.0    2.0
23      x    8.0    1.0
24      y   75.0  112.0
25      z    3.0    1.0

   Ending   Boys  Girls
0       a    9.0  380.0
1       b    4.0    0.0
2       c    8.0    1.0
3       d   31.0    3.0
4       e  102.0  188.0
5       f    2.0    0.0
6       g    3.0    0.0
7       h   35.0   64.0
8       i   28.0   35.0
9       j    1.0    0.0
10      k   21.0    0.0
11      l   61.0   28.0
12      m   15.0    3.0
13      n  340.0  147.0
14      o   76.0    0.0
15      p    3.0    0.0
16      q    0.0    0.0
17      r   73.0   12.0
18      s   68.0   14.0
19      t   26.0    9.0
20      u    1.0    0.0
21      v    3.0    0.0
22      w    4.0    2.0
23      x    8.0    1.0
24      y   75.0  112.0
25      z    3.0    1.0